.listProduct {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
  grid-auto-rows: auto;
  list-style: none;
  gap: 13px;

  & > div {
    border-radius: 12px 32px 12px 12px;

    &:nth-child(even) {
      border-radius: 32px 12px 12px 12px;
    }
  }
}
